
        <div class="wrap">
          <div class="widget">
            <div class="fecha">
              <p id="diaSemana" class="diaSemana"></p>
              <p id="dia" class="dia"></p>
              <p>de </p>
              <p id="mes" class="mes"></p>
              <p>del </p>
              <p id="year" class="year"></p>
            </div>
            <div class="reloj">
              <span id="horas" class="horas"></span>
              <span>:</span>
              <span id="minutos" class="minutos"></span>
              <span>:</span>
              <span id="segundos" class="segundos"></span>
            </div>
          </div>
        </div>