<section class="error_section">
    <p class="error_section_subtitle">Gracias. ¡Acabas de arruinar mi página!</p>
    <h1 class="error_title">
        <p>404</p>
        404
    </h1>
    <a href="#" class="btn btn-success">sal de aquí</a>
</section>